@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: blue;
}

body{
    background-color: #000000;
}

.navbar{
    background-color: #000000;
    height: 60px;
}

#logo{
    width: 160px;
}

.box_search{
    border-radius: 20px;
    height: 28px;
}

.navbar-nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.navbar-nav .active{
    background-color: #4E36E5;
}

.box_nav{
    margin-left: 5px;
    border-radius: 20px;
}

.container-profil{
    margin-top: 70px;
    background-color: transparent;
    height: 240px;
}

.card{
    max-width: 30%;
    background-color: #64BDF8;
    border: none;
    border-radius: 20px;
}

.card-body .foto{
    align-items: center;
    position: absolute;
    display: flex;
    background-color: black;
    border-radius: 50%;
    width:60px;
    height:60px;
    margin-top: 5%;
}

.card-body .deskripsi{
    margin-left: 32%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.card-body .deskripsi h5{
    font-weight: 800;
}

.subprofil{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
